@font-face{
    font-family: Europa-Bold;
    src: url(./assets/fonts/static/Europa-Bold.ttf)
}
@font-face{
    font-family: Lora-Regular-Italic;
    src: url(./assets/fonts/static/Lora-Italic.ttf)
}
@font-face{
    font-family: Europa-Light;
    src: url(./assets/fonts/static/Europa-Light.ttf)
}
body{
    color: #002d3c;
    text-align: center;
    margin:0;
    padding:0;
    width: 1440px;
    height: 1588px;
}
h1, h2, h3, h4, h5{
    font-family: Europa-Bold;
}
h1{
    font-size: 56px;
    line-height: 58px;
    letter-spacing: -1.17px
}
h2{
    font-size: 36px;
    line-height: 38px;
    letter-spacing: -0.86px;
}
h3{
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.36px;
}
h4{
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.27px;
}
h5{
    font-size: 13px;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 2px;
}
p{
    font-family: Europa-Light;
    font-size: 18px;
    line-height: 26px;
}
.formTextareaInput::placeholder{
    font-family: Europa-Light;
    font-size: 16px;
    padding-top: 14px;
    padding-left: 3.9%;
    line-height: 22px;
    color: #929ca3;
}
.formNameInput::placeholder, .formEmailInput::placeholder{
    font-family: Europa-Light;
    font-size: 16px;
    padding-left: 3.7%;
    padding-top: 29.2%;
    line-height: 22px;
    color: #929ca3;
}
.allButtons{
    background-color: #f54c4c;
    color: white;
    border-radius: 4px;
    border-style: none;
    font-family: Europa-Bold;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    text-align: center;
}
.formBox{
    background-color: #f4fafe;
    padding-top: 184px;
    width: 1440px;
    height: 702px;
}
.contactForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flexColumn{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.flexColumn>*{
    height: 48px;   
}
.formNameInput, .formEmailInput, .formTextareaInput{
    border-radius: 4px;
    border: 0.5px solid;
    border-color: #d7e0e6;
    color: #e2e9ef;
}
.formNameInput{
    width: 430px;
}
.formEmailInput, .btnSent{
    margin-top: 16px;
}
.formTextareaInput{
    width: 430px;
    height: 177px;
}
/* .formTextareaInput::-webkit-resizer{
    color: #e2e9ef;
} */
.faqBox{
    text-align: center;
    padding-top: 136px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.faqList{
    display: inline-block;
    text-align: left;
}
.faqList ul{
    display: block;
    text-align: left;
}
.faqList ul:first-child, .faqList ul:last-child{
    list-style-image: url(./assets/plus.svg);
}
.faqList ul:nth-child(2){
    list-style-image: url(./assets/minus.svg);
}
hr{
    width: 880px;
    height: 1px;
    opacity: 0.4;
    /* background-image: linear-gradient(to left, rgba(0, 45, 60, 0), var(--daintree) 49%, rgba(0, 45, 60, 0)); */
}
.btnFaq{
    margin-top: 77px;
    width: 167px;
    height: 48px;
}
